.contactus {
    width: 100dvw;
    background-color: #211e1e;
    color: #deded8;
    font-size: 1rem;
    padding: 2%;
}
li {
    list-style-type: none;
    margin-top: 15px;
    margin-left: 5%;
}
a {
    color: #fff;
    text-decoration: none;
}