@keyframes moveItem {
    /* 0% {    margin-left: 0%;    }
    25% {    margin-left: -10%;    }
    50% {    margin-left: -20%;    }
    75% {    margin-left: -35%;    }
    100% {    margin-left: -50%;    } */
    from {    margin-left: 0%;    }
    to {    margin-left: calc(-300px * 4);    }
}
.projectPanel{
     width: 100%;
    height: fit-content;
    position: relative;
    background-color: #710180;
}
.subPanel {
    /* min-height: 10dvh; */
   
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border: 4px solid #345;
    animation: moveItem 30s linear infinite;
    animation-delay: 1s;
}
/* @media only screen and (width<300px) {
    .subPanel{
        flex-direction: column;
        height: 200px;
        overflow-y: scroll;
        animation-name: none;
        scrollbar-width: none;
    }
} */

.projectItem {
    background-color: #1985A1;
    display: block;
    flex: 0 0 300px;
    height: 200px;
    margin: 2px;
    
}
.subPanel:hover {
    animation-play-state: paused;
}
video {
    width: 300px;
    height: auto;
}