body {
    /* background-color: rgb(31, 34, 35); */
    background: url('./images/bg2.jpeg');
    background-size: contain;
}
.App {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    overflow-x: hidden;
    margin: 0 auto;
    /* background-color: rgb(31, 34, 35); */
    z-index: 2;

}
.header {
    width: 100dvw;
    min-height:  30dvw;
    max-height: 50vh;
    display: inline-flex;
}
.name {
    position: relative;
    top: 10vh;
    left: 5vw;
    float: left;
    max-width: 30%;
    font-size: 10vmin;
    color: rgba(255, 255, 255, 0.053);
    font-family: Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px #fff;
    z-index: 2;
}
.pic_container {
    position: relative;
    min-height: 50vh;
    width: fit-content;
    z-index: 1;
    float: right;
    background-size: contain;
}

.pic {
    position: relative;
    width: auto;
    height: 100%;
}

/* For desktop Devices */
@media only screen and (width > 1024px){
    .pic_container {
        height: 80dvh;
        float: right;
        left: -10dvw;
    }
    .App {
        max-width: 60dvw;
    }
    .header {
        padding-bottom: 5rem;
    }
}

.about {
    position: relative;
    float:inline-end;
}
.content {
    flex-wrap: wrap;
}
